/* Định dạng cơ bản cho trang */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    background-color:aqua;
    text-align :center;
    padding:10px;
}
